<%= error_messages_for 'tipo' %>

<!--[form:tipo]-->
<p><label for="tipo_tipodescricao">Tipodescricao</label><br/>
<%= text_field 'tipo', 'tipodescricao'  %></p>

<p><label for="tipo_created_at">Created at</label><br/>
<%= datetime_select 'tipo', 'created_at'  %></p>

<p><label for="tipo_updated_at">Updated at</label><br/>
<%= datetime_select 'tipo', 'updated_at'  %></p>
<!--[eoform:tipo]-->

