<%= select("tipos", "id",  Tipo.find(:all).collect {|p| [ p.tipodescricao, p.id ] }, { :include_blank => false}) %></p>

<%= select_tag("id",  options_for_select(Tipo.find(:all).collect {|p| [ p.tipodescricao, p.id ] }), { :include_blank => false}) %></p>