<%= error_messages_for 'area' %>

<!--[form:area]-->
<p><label for="area_areadescricao">Areadescricao</label><br/>
<%= text_field 'area', 'areadescricao'  %></p>

<p><label for="area_created_at">Created at</label><br/>
<%= datetime_select 'area', 'created_at'  %></p>

<p><label for="area_updated_at">Updated at</label><br/>
<%= datetime_select 'area', 'updated_at'  %></p>
<!--[eoform:area]-->

