<% for column in Documento.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @documento.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @documento %> |
<%= link_to 'Back', :action => 'list' %>
